@import 'tailwindcss';

@theme {
	--color-neutral-black: #263238;
	--color-neutral-d-grey: #4d4d4d;
	--color-neutral-grey: #808080;
	--color-neutral-l-grey: #c4c4c4;
	--color-neutral-grey-blue: #abbed1;
	--color-neutral-silver: #f5f7fa;
	--color-neutral-white: #ffffff;

	--color-primary: #4CAF4F;
	--color-secondary: #263238;
	--color-info: #2194f3;

	--color-shade-1: #43a046;
	--color-shade-2: #388e3b;
	--color-shade-3: #237d31;
	--color-shade-4: #1b5e1f;
	--color-shade-5: #103e13;

	--color-tint-1: #66bb69;
	--color-tint-2: #81c784;
	--color-tint-3: #a5d6a7;
	--color-tint-4: #c8e6c9;
	--color-tint-5: #e8f5e9;

	--color-warning: #fbc02d;
	--color-error: #e53835;
	--color-success: #2e7d31;

	--font-sans: 'Inter', sans-serif;
}

@layer utilities {
	.text-h1 {
		font-size: 64px;
		line-height: 76px;
		font-weight: 600; /* SemiBold */
	}
	.text-h2 {
		font-size: 36px;
		line-height: 44px;
		font-weight: 600; /* SemiBold */
	}
	.text-h3 {
		font-size: 28px;
		line-height: 36px;
		font-weight: 600; /* SemiBold */
	}
	.text-h4 {
		font-size: 20px;
		line-height: 28px;
		font-weight: 600; /* SemiBold */
	}
	.text-r1 {
		font-size: 18px;
		line-height: 28px;
		font-weight: 400; /* Regular */
	}
	.text-r2 {
		font-size: 16px;
		line-height: 24px;
		font-weight: 400; /* Regular */
	}
	.text-r3 {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400; /* Regular */
	}
	.text-r4 {
		font-size: 12px;
		line-height: 16px;
		font-weight: 400; /* Regular */
	}
	.text-m1 {
		font-size: 18px;
		line-height: 28px;
		font-weight: 500; /* Medium */
	}
	.text-m2 {
		font-size: 16px;
		line-height: 24px;
		font-weight: 500; /* Medium */
	}
	.text-m3 {
		font-size: 14px;
		line-height: 20px;
		font-weight: 500; /* Medium */
	}
	.text-m4 {
		font-size: 12px;
		line-height: 16px;
		font-weight: 500; /* Medium */
	}
}
