@import 'tailwindcss';

@theme {
	--color-neutral-black: #263238;
	--color-neutral-d-grey: #4d4d4d;
	--color-neutral-grey: #808080;
	--color-neutral-l-grey: #c4c4c4;
	--color-neutral-grey-blue: #abbed1;
	--color-neutral-silver: #f5f7fa;
	--color-neutral-white: #ffffff;

	--color-primary: #28cb8b;
	--color-secondary: #263238;
	--color-info: #2194f3;

	--color-shade-1: #43a046;
	--color-shade-2: #388e3b;
	--color-shade-3: #237d31;
	--color-shade-4: #1b5e1f;
	--color-shade-5: #103e13;

	--color-tint-1: #66bb69;
	--color-tint-2: #81c784;
	--color-tint-3: #a5d6a7;
	--color-tint-4: #c8e6c9;
	--color-tint-5: #e8f5e9;

	--color-warning: #fbc02d;
	--color-error: #e53835;
	--color-success: #2e7d31;

	--font-sans: 'Inter', sans-serif;
}
